{
	"root": true,
	"parser": "babel-eslint",
	"extends": "particle",
	"env": {
		"es6": true,
		"shared-node-browser": true
	},
	"rules": {
		"no-var": 2,
		"valid-jsdoc": [2, {
			"requireReturnDescription": false
		}]
	}
}
